* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: roboto;
    margin: 0%;
    padding-top: 72px;
}

.top-fix {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 2;
}
#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #1f2937;
    color: aliceblue;
    font-size: 24px;
    color: #f9faf8;
    
}
.logo {
    width: auto;
    height: 72px;
    vertical-align:middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

div ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;

}
div ul a {
    text-decoration: none;
    color: #e5e7eb
    ;
}
a:hover {
    color: #3882f6;
}
.icon-list {
    background-color: #085cd1;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item div {
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 36px;
    text-align: center;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 24px;
    color: #e5e7eb;
    -webkit-text-stroke: 1px black;
    text-transform:uppercase;
} 
.img1 {
    background-image:
    linear-gradient(to bottom, rgba(2, 35, 224, 0) 50%, #085cd1 90% ),
    url('img/sala-med-1.jpg');
    
}
.img2 {
    background-image:
    linear-gradient(to bottom, rgba(2, 35, 224, 0) 50%, #085cd1 90% ),
    url('img/sala-med-2.jpg');
    
}
.img3 {
    background-image:
    linear-gradient(to bottom, rgba(2, 35, 224, 0) 50%, #085cd1 90% ),
    url('img/sala-med3.jpg');
    
}

.item p {
    font-size: 24px;
    color: #e5e7eb;

}
.item button {
    position: relative;
    top: 36px;
    left: -100px;
    padding: 12px;
    background-color: #e5e7eb;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    border-radius: 10px;
}
.salas {
    display: flex;
    flex-direction: column;
    flex: 0 0;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 24px;
    padding-bottom: 36px;
    
    
}
.presentacion p {
    margin: 12px;
}
.presentacion button {
    border-radius: 10px;
    padding: 10px;
    margin: 12px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
}
img {
    width: 200px;
    height: auto;
}
.img-about {
    height: auto;
    width: 500px;
    margin: 12px;
}
.fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #1f2937;
}
.fotos-card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
    justify-content: center;
}
.fotos-card div {
    display: flex;
    flex-direction: column;
    flex: 0 0;
    letter-spacing: 2px;
    text-align: center;
}
.fotos-card img {
    border: 5px #3882f6 solid;
    border-radius: 10px;
}

.video {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 36px;
    padding-top: 36px;
}
#equipos {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    margin: 36px;
}
.equipos-div{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}
iframe {
    border: 5px #3882f6 solid;
    border-radius: 10px ;
}
.vid-hero {
    padding: 34px;
}
.firma {
    align-self: flex-end;
    margin-top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
}
.reserva {
    background-color: #3882f6;
    margin: 56px 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #f9faf8;
    border-radius: 10px;
    padding: 16px;
    gap: 8px;
}
.reserva button {
    border: #e5e7eb 2px solid;
    border-radius: 10px;
    background-color: transparent;
    padding: 15px;
    color: #f9faf8;
    font-size: 1em;
    font-weight: bold;

}
#contacto {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#contacto p {
    font-size: 18px;
    margin: 12px;
}
#contacto form {
    padding: 14px;
}
#email {
    font-size: 18px;
    border: #3882f6 1px solid;
}
#submit {
    padding: 12px;
    margin: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: bold;
    border: 0ch;
    border-radius: 10px;
}
footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    margin: 0;
    padding: 16px;
}
@media (max-width: 979px) {
    /* body {
      padding-top: 268px;
    } */
    /* Para el examen topfix y header van comentados */
    .top-fix {
        position: unset;
    }
    header {
        flex-direction: column;
    }
    .logo {
        height: 240px;
    }
  }